
/* Colours */

body {background-color: #829E84;}

body a {color: #632647;}
body a:visited {color: #632647;}
form.search {border-color: #632647; background-color: #F1F2D3;}

form.search input[type=submit] {background-color: #C56323; color: #5C3317; border-color: #632647;}

#header p {text-align: center; margin-bottom: 2em;}
#header a, #header a:visited {color: #5C3317; text-decoration: none; }

p.successful {color: green;}

p.views {color: #666;}
p.none {color: red;}


/* Border Style */

form.search {border-style: solid;}



/* Text size */

body {font-size: 20px;}

p.result {font-size: 1.5em;}

form.search {font-size: 2em;}

form.search input#topic_name,
form.search input[type=submit] {font-size: 1em;}
form.search p.examples {font-size: .5em;}

p.views {font-size: .8em;}

/* Text alignment */

p.views {text-align: center;}

/* Font family */

body, * {font-family: 'Georgia', serif;}


/* Padding, margin, border size */

body #page {padding: 2em;}

form.search {padding: .5em; border-width: 10px; margin-bottom: 1em;}

form.search input#topic_name {height: 1.2em; padding: .1em; width: 10em; margin-left: 1em; border: 1px solid;}
form.search input[type=submit] {height: 1.2em; padding: .1em .3em; margin-left: 1em; cursor: pointer; font-size: .9em; border: 1px solid;}

p.views {margin-top: 5em;}