<h1>Listing classifications</h1>

<table>
  <tr>
  </tr>

<% @classifications.each do |classification| %>
  <tr>
    <td><%= link_to 'Show', classification %></td>
    <td><%= link_to 'Edit', edit_classification_path(classification) %></td>
    <td><%= link_to 'Destroy', classification, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New classification', new_classification_path %>