<!DOCTYPE html>
<html>
<head>
  <title>There's a Museum About That</title>
  <%= stylesheet_link_tag :all %>
  <%= csrf_meta_tag %>
</head>

<body id="">

	<div id="page">

		<div id="header" class="header">
			<p><%= link_to "There's a Museum About That", root_path %></p>
    </div>

		<div id="body">
			<%= yield  %>
		</div>

		<footer>	
			<p class="tagline">There's a museum about just about everything...</p>
		</footer>

	</div>

</body>

</html>
